body{
    background: green;
}

#hr{
    width: 380px;
    height: 100px;
    background: red;
    margin: 0 auto;
    text-align: center;
    font-size: 50px;
    color: white;
    padding-bottom: 15px;
}